body{
    background-color: rgb(248, 245, 213);
    font-family: monospace;
  
    margin-left: 520px;
    overflow: auto ;
	padding: 5px 0 0 5px ;
}
.multi{
    color:rgba(230, 162, 36, 0.904);
    margin-left: 50px;
    font-family: 'lobster';
    font-size: 55px;
}
